<!DOCTYPE html>
<html lang="pt-br">
<head>
    
   
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form method="post">
        Nome: <input value="{{produto['nome']}}" title="s" type="text" name="nome" /> <br />
        Preço: <input value="{{produto['preco']}}" title="s" type="number" name="preco" /> <br />
        <button type="submit">Editar Produto</button>
    
    </form>                                                             
    <a href="/">Voltar</a>
</body>

</html>